.SearchBar {
    color: white;
    background-color: #1a1f71;
    font-size: 20px;
    padding-top: 0px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 40px;
    margin: auto;
    max-width:  800px;

    
}
.SearchHeader{
    background-color: #1a1f71;
}
