.evaluationBar {
    display: flex;
    position: relative;
}

.viewButton {
    height: 35px;
    width: 100px;
    border-radius: 10px;
    color: white;
    background-color: var(--primary_color);
    font-size: medium;
    right: 10px;
    margin: 10px 10px;
    float: right;
    position: absolute;
}

.viewButton:hover{
    background-color: var(--primary_color);
}
.evaluation_title {
    margin: 15px 20px;
    font-size: medium;
    float: left;
}